{% extends 'base.html.twig' %}

{% block title %}New Ranking{% endblock %}

{% block body %}
    <h1>Country whith Flag</h1>

    {{ include('ranking/_form.html.twig') }}

    <a href="{{ path('app_ranking_index') }}">back to list</a>
{% endblock %}
