<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<span class="title">Rubik's cube</span><br> By Sylvain Blondeau
				</li>
			</ul>
			<ul>
				<li>
					
					<a target="_blank" href="https://github.com/sblondeau/rubik"><twig:ux:icon name="uil:github" width="50"/></a>
				</li>
				<li>
					
					<a target="_blank" href="https://www.linkedin.com/in/sylvain-blondeau"><twig:ux:icon name="uil:linkedin" width="50"/></a>
				</li>
				<li>
					<a target="_blank" href="https://sylvainblondeau.dev">
						<img class="logo" src="{{ asset('images/sb.png') }}"></a>
				</li>
			</ul>
		</nav>
		<h1>
		</h1>
		<div class="alert">Symfony and Symfony UX Experimentations to create an online Rubik's cube. Click on <twig:ux:icon name="mix" width="50"/> Mix button to start</div>
		<div class="container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
